body {
  font-family: sans-serif;

  background-color: #eee;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 8px;

  background-color: #fff;
}

.card > * {
  padding: 8px;

  background-color: #e3f4ff;
}

.card > :not(:last-child) {
  margin-bottom: 8px;
}

.title {
  margin: 0px;
  font-size: 16px;
}

.content {
  padding: 16px 8px;
}

.button-container {
  text-align: center;
}

button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 24px;

  background-color: white;
  border: 1px solid #eee;
}